---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hamburguer from "../components/Hamburguer.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Layout title="Mi blog">
    <Hamburguer />
    <Header />

    <h1>Las publicaciones de mi blog</h1>
    <ul>
        {
            allPosts.map((post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
    <Footer />
</Layout>
<style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
        color: purple;
        font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>
