---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";

const pageTitle = "Pagina de inicio";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>Bienvenidos al curso de Astro</h1>
		<p>
			Este curso fue hecho con el tutorial de la documentacion
			<a href="https://astro.build/" target="_blank">
				https://astro.build/
			</a>
		</p>
	</body>
</html>
