---
import Social from "./Social.astro";
---

<footer>
    <p>¡Más información sobre mis proyectos!</p>
    <Social platform="twitter" username="soyagvs" />
    <Social platform="github" username="soyagvs" />
</footer>
